@charset "UTF-8";

div{
	margin:10px;
	padding:10px;
	border: 1px dotted gray;
	
}

.table_show th{
	background: pink;
	padding: 10px;
	border: 1px dotted gray;
}

.table_show td{
	background: white;
	padding: 10px;
	border: 1px dotted gray;
}